<%- include("partials/header"); -%>
<h1>About</h1>
<p>Hola, I am Poorvi Joshi, 1st year Btech student pursuing Electrical engineering in National Institute of technology, Karnataka</p>
<p>Welcome to my Daily Journal Blog</p>
<%- include("partials/footer"); -%>