<%- include("partials/header"); -%>
<h1>Home</h1>
<p>Welcome to my not-so-cool yet peaceful world. </p>
<h2>Blog-1</h2>
<img src="blog1.jpg">
This too, shall pass
<h2>Blog-2</h2>
text
<h2>Blog-3</h2>
text

<%- include("partials/footer"); -%>